{% extends "contact/base.html" %}
{% block main_block %}
<h2 class="box-title">Contacts</h2>
<table id="example" class="table table-bordered table-striped">	
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>Mobile</th>
		<th>Phone</th>
		<th>Date Of Birth</th>
		<th>Email</th>
		<th colspan="3">Actions</th>
	</tr>
	{% for cont in all_cont %}
	<tr>
		<td>{{ cont.name }}</td>
		<td>{{ cont.street }} {{ cont.street2 }} {{ cont.city }}</td>
		<td>{{ cont.mobile }}</td>
		<td>{{ cont.phone }}</td>
		<td>{{ cont.date_of_birth }}</td>
		<td>{{ cont.email }}</td>
		<td><a href="{% url 'singlepage' cont.id %}" class="btn btn-info">View</a>
		<a href="{% url 'edit' cont.id %}" class=" btn btn-success">Edit</a>
		<a href="{% url 'delete' cont.id %}" class=" btn btn-danger">Delete</a></td>
	</tr>
	{% endfor %}

</table>
<a href='/contact/new' style="margin-top: 10px;" class="btn btn-success">Add New Contact</a>
{% endblock %}
