{% extends "contact/base.html" %}
{% block main_block %}

<form method="POST">{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">submit</button>
</form>
<br/>
<a href="/" class="btn btn-info">Back</a>

{% endblock %}
