{% extends "contact/base.html" %}
{% block main_block %}

<h2 class="box-title">{{ s_cont.name }}</h2>
<table id="example" class="table table-bordered table-striped">	
    <tr>
        <th>Name</th>
        <td>{{ s_cont.name }}</td>
    </tr>
    <tr>
        <th>Street</th>
        <td>{{ s_cont.street }}</td>
    </tr>
    <tr>
        <th>Street2</th>
        <td>{{ s_cont.street2 }}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{ s_cont.city }}</td>
    </tr>        
    <tr>
        <th>Address</th>
        <td>{{ s_cont.street }} {{ s_cont.street2 }} {{ s_cont.city }}</td>
    </tr>
    <tr>
        <th>Mobile</th>
        <td>{{ s_cont.mobile }}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ s_cont.phone }}</td>
    </tr>
    <tr>
        <th>Date Of Birth</th>
        <td>{{ s_cont.date_of_birth }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ s_cont.email }}</td>
    </tr>
    
</table>
<a href="/" class="btn btn-info">Back</a>

{% endblock %}

